body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("travel.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    width: 100%;
    background: white;
    padding: 15px 20px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links {
    display: flex;
    gap: 50px;
    flex: 1;
    justify-content: center;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 10px;
    display: block;
}

.dropdown-content a:hover {
    background-color: yellow;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container {
    width: 100%;
    max-width: 900px;
    background: rgba(42, 42, 42, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    padding: 10px;
}

.chat-box {
    height: 200px;
    padding: 10px;
    border-bottom: 1px solid #444;
    background: rgba(30, 30, 30, 0.9);
    display: flex;
    flex-direction: column;
}

#chatBox {
    overflow-y: scroll;
    scrollbar-width: none;
}


#chatBox::-webkit-scrollbar {
    display: none;
}

.chat-message {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    max-width: 70%;
}

.user-message {
    background-color: rgb(195, 166, 229);
    color: white;
    align-self: flex-end;
    border-radius: 10px;
}

.bot-message {
    background-color: #444;
    color: white;
    align-self: flex-start;
}

.chat-input {
    display: flex;
    padding: 10px;
    background: rgba(18, 18, 18, 0.8);
}

.chat-input input {
    flex: 1;
    padding: 5px;
    border: 1px solid #444;
    border-radius: 5px;
    background: #333;
    color: white;
    gap: 10px;
}

.wlc {
    text-align: center;
    margin-top: 50px;
    color: #333;
    font-size: 42px;
}

.logo {
    font-size: 20px;
    font-weight: 700;
}

.logo img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 5px;
}

.send-icon {
    background-color: transparent;
    border: none;
}
